{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminDepartementsController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <a href="{{ path('app_admin_departement_create') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for departement in departements %}
                    <tr>
                        <td>{{ departement.nom }}</td>
                        <td>
                            <a href="{{ path('app_admin_departement_update', { id: departement.id }) }}" class="btn btn-primary">Modifier</a>
                            <a onclick="confirm('Etes vous sur de vouloir supprimer {{ departement.nom }} ?') ? href='{{ path('app_admin_artiste_delete', { id: departement.id }) }}': '';" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
